body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.main-container{
  display:grid;
  grid-template-rows:  auto 1fr auto;
  width: 100vw;
  height: 100vh;
}

.argonautsForm{
  display: grid;
  align-items: center;
  justify-items: center;
}

div .form-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 20px 0;
}

.form-element-wrapper{
  display: grid;
  align-items: flex-end;
}
div .imput{
  width: 400px;
  justify-items: flex-end;
}

label{
  width:auto;
  margin: 0 5px;
}

.imput-text{
  width:250px;
}

.submit-group{width: 100%;justify-items: center;}

.submit{
  width: 100%;
}

header {
  /* position: absolute;
  left:0; */
  width: 100%;
  min-width: 425px;
  height: 20%;
  min-height: 120px;
  background: #f4f4f4;
  text-align: center;
  padding: 0.5em;
}

header img {
  max-width: 96px;
  margin: 0 1em;
}

header h1 {
  font-size: 2em;
  padding: 1em 0;
}

.home-body{
  width:100%;
  height:80%;
}


#argonautsList .argonautsList{
  margin: 20px 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

footer {
  /* position: absolute;
  top: calc((100vh) - (100px));
  left:0; */
  width: 100%;
  text-align: center;
  color: #fff;
  background: #f76c6c;
}

